<h1> <%=current_user.name%> </h1>

<% if @users_questions.empty? %>
 
<h2>Looks like you haven't added any interview questions yet. 
Post a question <%= link_to "here", new_interview_questions_path%> </h2>

<% else %>
<h3> My Interview Questions: </h3>



<% end %>