  <% interview_questions.each do |category| %>
   <% if category.interview_questions.any? %>
   <strong><%=category.name %></strong><br> 
    <% category.interview_questions.each do |iq| %>
       <% if @user %>
      <%= link_to iq.question, interview_question_path(iq) if iq.user == current_user%> <br>
        <% else %>
        <li><%=link_to iq.question, interview_question_path(iq)%></li> <br>
        
        <%end%>
      <%end%>
    <%end%>
  <%end%> 