<h1><%= @category.name %></h1>
<% if @category.interview_questions.empty? %>
<h5> There are no questions for this category yet, add one below! </h5>
<%else %>
<% @category.interview_questions.each do |iq| %>
    <li> <%= link_to iq.question, interview_question_path(iq) %> </li>
<% end %>
<% end %>
<br>
<br>

<p><%= link_to "Add an Interview Question", new_category_interview_question_path(@category) %></p>
<p><%= link_to "Back to All Categories", categories_path %> </p>