<h1><%= @category.name %></h1>
<%= show_category %>
<p><%= link_to "Add an Interview Question", new_category_interview_question_path(@category) %></p>
<p><%= link_to "Back to All Categories", categories_path %> </p>